<div class="col-sm-12 col-md-12 col-lg-3">
  <h2 class="latest">Trending</h2>
  <img class="aside-image" src="https://www.indiewire.com/wp-content/uploads/2018/05/screen-shot-2018-05-17-at-10-56-26-am1.png?w=600" />
  <div>Category</div>
  <h3 class="recent-title">Lorem ipsum</h3>
</div>