<!-- Start footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Company Info</h1>
					<div class="block-body">
						<figure class="foot-logo">
							<img src="images/logo-light.png" class="img-responsive" alt="Logo">
						</figure>
						<p class="brand-description">
								FilmG8 is a Handlebars / ExpressJS / MongoDB server-rendered template for blog website or simple news tabloid
							</p>
						<a href="/about" class="btn btn-magz white">About Us <i class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<div class="line"></div>
				<div class="block">
					<div class="block-body no-margin">
						<ul class="footer-nav-horizontal">
							<li><a href="/home">Home</a></li>
							<li><a href="/about">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					YOU CAN FREELY USE THIS TEMPLATE UNDER MIT LICENCE
					<div>
						Made with <i class="ion-heart"></i> by B. Georgiev
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
		<!-- End Footer -->