<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="/home">FilmG8</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav navbar-left ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">TV Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Merch</a>
      </li>
      {{#if isLoggedIn}}
      <li class="nav-item">
        <a class="nav-link text-light" href="/logout">LogOut</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
    {{#if message}}
    {{> notifications}}
    {{/if}}