<div class="col-9">
  <h2 class="latest">Latest</h2>
  {{#each article}}
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">{{title}}</h3>
      <div class="recent-article">{{{post}}} ... <a href="/viewArticle/{{_id}}">Read More</a></div>
    <div class="divider"></div>
    </div>
  </div>
  {{/each}}
</div>