<div class="col-9">
  <h2 class="latest">Latest</h2>
  {{#each article}}
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">{{title}}</h3>
      <div class="recent-article">
        <section>{{{post}}}<a href="/article/post/{{_id}}">Read More</a></section>
      </div>
    <div class="divider"></div>
    </div>
  </div>
  {{/each}}
  <div class="col-sm-12 col-md-12 col-lg-3">
  <h2 class="latest">Trending</h2>
  {{#each trendingArticles}}
  <img class="aside-image" src="https://www.indiewire.com/wp-content/uploads/2018/05/screen-shot-2018-05-17-at-10-56-26-am1.png?w=600" />
  <div>Category</div>
  <h3 class="recent-title">{{title}}</h3>
</div>
  {{/each}}
</div>
