<div class="col-9">
  <h2 class="latest">Latest</h2>
  {{!-- {{#each article}} --}}
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">Lorem ipsum</h3>
      <p class="recent-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur neque sunt a, molestiae fuga nihil voluptas eaque magnam nostrum cupiditate officiis laudantium, eligendi, rerum voluptatum praesentium? Itaque, eveniet fuga.</p>
    <div class="divider"></div>
    </div>
  </div>
  {{!-- {{/each}} --}}
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">Lorem ipsum</h3>
      <p class="recent-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur neque sunt a, molestiae fuga nihil voluptas eaque magnam nostrum cupiditate officiis laudantium, eligendi, rerum voluptatum praesentium? Itaque, eveniet fuga.</p>
    <div class="divider"></div>
    </div>
  </div>
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">Lorem ipsum</h3>
      <p class="recent-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur neque sunt a, molestiae fuga nihil voluptas eaque magnam nostrum cupiditate officiis laudantium, eligendi, rerum voluptatum praesentium? Itaque, eveniet fuga.</p>
    <div class="divider"></div>
    </div>
  </div>
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">Lorem ipsum</h3>
      <p class="recent-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur neque sunt a, molestiae fuga nihil voluptas eaque magnam nostrum cupiditate officiis laudantium, eligendi, rerum voluptatum praesentium? Itaque, eveniet fuga.</p>
    <div class="divider"></div>
    </div>
  </div>
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">Lorem ipsum</h3>
      <p class="recent-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur neque sunt a, molestiae fuga nihil voluptas eaque magnam nostrum cupiditate officiis laudantium, eligendi, rerum voluptatum praesentium? Itaque, eveniet fuga.</p>
    <div class="divider"></div>
    </div>
  </div>
  <div class="row recent-container">
    <div class="col-sm-12 col-md-12 col-lg-4" id="recent-divs">
      <img class="recent-image" src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/09/dune-movie-2020-1000x600-1-600x360.jpg">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 recent-article-container">
      <h3 class="recent-title">Lorem ipsum</h3>
      <p class="recent-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur neque sunt a, molestiae fuga nihil voluptas eaque magnam nostrum cupiditate officiis laudantium, eligendi, rerum voluptatum praesentium? Itaque, eveniet fuga.</p>
    <div class="divider"></div>
    </div>
  </div>
</div>